@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;700&display=swap');

html {
    font-size: 16px;
    font-weight: 100;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    background-color: #236847;
    margin: 3%;
}

h1 {
    color: rgb(216, 255, 223);
}

.bean-info-container {
    background-color: rgba(255, 255, 255, 0.8);
}

.bean-information {
    color: rgb(13, 56, 57);
}

.footer-block {
    background-color: rgb(122, 161, 129);
}

.bean-info-container, .footer-block {
    margin: 20px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}