@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;700&display=swap');

body {
    font-size: 16px;
    font-weight: 200;
    color: rgb(17, 17, 17);
    min-height: 100vh;
    margin: 0px;
    display: flex;
    font-family: 'Outfit', sans-serif;
    background-color: #ffffff;
}

h1 {
    color: rgb(50, 50, 50);
    font-size: 2rem;
    margin: 0px;
}

h2 {
    color: rgb(50, 50, 50);
    margin: 0px;
}

h4 {
    color: black;
}

a {
    color: rgb(17, 17, 17);
    text-decoration: none;
}

.bold-text {
    font-weight: 700;
}

ul {
    margin: auto;
    list-style: none;
    padding-inline-start: 0;
}

p {
    text-wrap: wrap;
    margin: 0px;
}

.page-info {
    margin: 40px;
}

.page-title {
    margin-bottom: 20px;
}

.btn1, .form-btn {
    border: 1px solid rgb(180, 180, 180);
    margin: 6px;
    border-radius: 5px;
    padding: 4px 12px;
    width: fit-content;
}

.btn2 {
    background-color: rgb(50, 50, 50);
    color: rgb(230,230,230);
    border: 1px solid rgb(200, 200, 200);
    margin: 6px;
    border-radius: 8px;
    padding: 8px 12px;
    width: fit-content;
}

.message-warning {
    width: fit-content;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: rgb(235, 203, 126);
    border-radius: 5px;
}

.message-error {
    width: fit-content;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: rgb(238, 131, 123);
    border-radius: 5px;
}

.message-success {
    width: fit-content;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: rgb(103, 227, 112);
    border-radius: 5px;
}


.middle-of-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.middle-of-screen p {
    color: rgb(25, 25, 25);
}

nav {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100vw;
    position: -webkit-sticky;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 5px 5px 12px 2px rgba(0,0,0,0.1);
}

.login-container {
    display: flex;
}

.login-container h2 {
    margin-bottom: 20px;
}

.app-title {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
}

.nav-bar-logo {
    margin: 20px;
    height: 36px;
}

.nav-bar-title {
    font-size: 1.7rem;
    font-weight: 700;
    margin: auto;
}

.nav-list {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-list li {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-list-mobile {
    display: none;
}

.user-info {
    display: flex;
    position: absolute;
    right: 0;
    width: fit-content;
    align-items: center;
}

#logout-btn {
    margin: 20px;
}

.nav-item-ico {
    width: 40px;
}

.page-content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.table-btn {
    border: 1px solid rgba(0, 0, 0,0.2);
    border-radius: 8px;
    padding: 3px;
    color: rgb(50, 50, 50);
    width: fit-content;
}

.table-btn:hover {
    background-color: rgba(0,0,0,0.05);
}

.form-btn-container {
    display: flex;
    justify-content: end;
}

.body-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px;
}

#form-cancel-btn {
    color: rgb(50, 50, 50);
}

#form-save-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

#new-entry-btn,
#new-adjustment-btn {
    border: 1px solid rgb(180, 180, 180);
}

.table-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 20px; /* Adjust margin as needed */
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
}

.chart-container {
    width: 50vw;
    padding: 20px;
}

.stock-entries {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.stock-entry,
.new-stock-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #e3e3e3;
    /* box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.1); */
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    margin-top: 30px;
    padding: 16px;
}

.stock-entry {
    width: 250px;
    height: 180px;
}

.stock-entry-qty,
.new-stock-entry-qty {
    display: flex;
    margin-bottom: 8px;
    justify-content: space-between;
}

.new-stock-entry-qty {
    flex-direction: column;
}

.stock-entry-qty {
    width: 60%;
}

.stock-adjustment-qty {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.new-stock-entry-qty p {
    font-size: 1.1rem;
}

.new-stock-entry-qty-input {
    display: flex;
    flex-direction: row;
}

.chart-container {
    border: 1px solid #e3e3e3;
    /* box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.1); */
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
}

.container-row {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bean-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.bean-card,
.bean-card-low-stock,
.bean-card-ordered {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 160px;
    height: 160px;
    margin: 10px;
    text-align: center;
    border: 1px solid #e3e3e3;
    /* box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.1); */
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
}

.bean-card-ordered {
    background-color: rgb(178, 88, 36);
}

.bean-card-low-stock {
    background-color: darkred;
}

.bean-card-low-stock p,
.bean-card-low-stock a,
.bean-card-ordered p,
.bean-card-ordered a {
    color: white;
}

.bean-card:hover {
    background-color: rgba(0,0,0,0.05);
}

.bean-card-low-stock:hover {
    background-color: rgb(125, 0, 0);
}

#bean-card-qty {
    font-size: 1.5rem;
}

#bean-card-origin {
    font-size: 0.7rem;
}

.vertical-space {
    width: 100px;
}

#consumption-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stats-container-title {
    text-align: center;
}

canvas#pieChart {
    width: 450px !important;
    height: 450px !important;
}

input {
    width: 100%;
}

table {
    width: 500px;
}


tr {
    line-height: 2em;
    vertical-align: top ;
    /* border-bottom: 1px solid rgb(220, 220, 220); */
}

/* tr:nth-child(even) {
    background-color: rgba(0,0,0,0.03);
} */

tr:hover {
    background-color: rgba(0,0,0,0.02);
}

th {
    text-align: left;
    vertical-align: top;
}

th, td {
    padding-left: 5px;
    padding-right: 5px;
  }


button, input, select, textarea {
    font-family: inherit;
    line-height: 30px;
    font-size: 1rem;
    border-radius: 7px;
    background-color: inherit;
    border-color:rgba(0,0,0,0);
    border-width: 1px;
}

textarea {
    height: 4rem;
    max-width: 200px;
}

select {
    height: 35px;
}

button:focus, input:focus, select:focus, textarea:focus {
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dash-container {
    display: flex;
    margin-top: 20px;
    width: auto;
}

.dash-container h1 {
    color: rgb(50, 50, 50);
    margin: 0px;
}

.dash-links-container {
    display: flex;
    flex-direction: column;
}

.dash-links-row1,
.dash-links-row2 {
    display: flex;
    flex-direction: row;
}

.dash-item, .dash-link {
    display: flex;
    padding: 30px;
    margin-right: 40px;
    margin-bottom: 40px;
    height: 80px;
    border: 1px solid #e3e3e3;
    /* box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.1); */
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    white-space: nowrap;
}

.dash-link {
    padding: 20px;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    width: fit-content;
}

#dash-item-todoist {
    flex-direction: column;
    min-width: 250px;
    max-width: 300px;
    height: fit-content;
}

#dash-link-todoist {
    margin: 0;
    display: flex;
    align-items: center;
}

.logo-link {
    width: 40px;
    margin-right: 10px;
}

#bankaus-logo {
    width: auto;
    height: 40px;
}

.todoist-tasks {
    list-style: initial;
    padding-inline-start: 1em;
    margin-bottom: 20px;
}

.todoist-task-block {
    margin-bottom: 20px;
}

.todoist-tasks p {
    color: rgb(50, 50, 50);
    line-height: 1rem;
}

footer {
    margin-top: auto;
    display: flex;
    height: 200px;
    flex-direction: column;
    width: 80%;
    align-items: center;
    text-align: center;
}

.footer-btn {
    width: 150px;
    line-height: 2rem;
    text-align: center;
    /* text-decoration: none; */
}

@media only screen and (max-width: 900px) {
    .nav-bar-title {
        font-size: 1.65rem;
        font-weight: 700;
        margin: auto;
    }

    .nav-list, .user-info {
        display: none;
    }

    .nav-list-mobile {
        display: flex;
        position: absolute;
        right: 0;
        margin: 20px;
    }
}

@media only screen and (max-width: 550px) {

    .nav-bar-logo {
        margin: 20px;
        height: 32px;
    }
    
    .nav-bar-title {
        font-size: 1.65rem;
        font-weight: 700;
        margin: auto;
    }

    .nav-list, .user-info {
        display: none;
    }

    .nav-list-mobile {
        display: flex;
        position: absolute;
        right: 0;
        margin: 20px;
    }

    .dropdown-menu {
        --bs-dropdown-bg: rgba(255,255,255,1);
        /* backdrop-filter: blur(20px); */
        box-shadow: 5px 5px 12px 2px rgba(0,0,0,0.1);;
    }

    .dropdown-menu li {
        padding: 10px;
        margin-left: 12px;
    }

    .dash-container {
        flex-direction: column;
        width: inherit;
    }

    .dash-item {
        margin-right: 0px;
    }

    .dash-links-row1, .dash-links-row2 {
        display: flex;
        overflow: scroll;
    }

    .table-container,
    .form-container,
    .chart-container {
        width: auto;
        max-width: 90vw;
        overflow: scroll;
    }

    .container-row {
        flex-direction: column;
    }

    .body-btn-container {
        flex-direction: column;
        align-items: center;
    }

}

