@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;700&display=swap');

html {
    font-size: 16px;
    font-weight: 100;
    color: rgb(17, 17, 17);
    font-weight: 200;
}

#width-too-narrow {
    display: none;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

body {
    min-height: 100vh;
    margin: 0px;
    display: flex;
    font-family: 'Outfit', sans-serif;
    background-color: #f1f1f1;
}

h1 {
    color: rgb(50, 50, 50);
    font-size: 2rem;
    margin: 0px;
}

h2 {
    color: #886042;
    margin-bottom: 0px;
}

h4 {
    color: black;
}

a {
    color: rgb(17, 17, 17);
    text-decoration: none;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

.message-warning {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: rgb(206, 163, 61);
    border-radius: 5px;
}

.message-error {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: rgb(208, 100, 92);
    border-radius: 5px;
}

.message-success {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: rgb(77, 193, 84);
    border-radius: 5px;
}

.content-block {
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
    margin-left: 200px;
}

.middle-of-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.middle-of-screen p {
    color: rgb(25, 25, 25);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 200px;
    position: -webkit-sticky;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.1);
}

.login-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-container h2 {
    margin-bottom: 20px;
}

form {
    width: fit-content;
}

#main-logo {
    width: 150px;
    margin-top: 5px;
}

#name {
    margin-bottom: 30px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 0px;
}

.nav-list li, .form-btn, .body-btn {
    background-color: rgba(255,255,255,0.1);
    cursor:pointer;
    margin: 5px;
    border-radius: 11px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.1);
}

.nav-list li {
    color: rgb(50, 50, 50);
    margin-bottom: 20px;
}

.login-info-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    margin: 20px;
}

#logout-btn {
    align-self: center;
}

.nav-list li:hover, .form-btn:hover, .body-btn:hover {
    background-color: rgba(0,0,0, 0.1);
}

.page-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.table-btn {
    border: 1px solid rgba(0, 0, 0,0.2);
    border-radius: 8px;
    padding: 5px;
    color: rgb(50, 50, 50);
}

.table-btn:hover {
    background-color: rgba(0,0,0,0.05);
}

.form-btn-container {
    display: flex;
    justify-content: end;
}

#form-save-btn {
    width: 20%;
}

#form-cancel-btn {
    color: rgb(50, 50, 50);
}

#new-entry-btn {
    background-color: rgba(255, 244, 231, 0.5);
}

.table-container, .form-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 11px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 40px;
    margin-top: 30px;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.1);
}

tr {
    line-height: 40px;
}

tr:nth-child(even) {
    background-color: rgba(0,0,0,0.03);
}

tr:hover {
    background-color: rgba(0,0,0,0.06);

}

th {
    text-align: left;
    vertical-align: top;
}

th, td {
    padding-left: 5px;
    padding-right: 5px;
  }

button, input, select, textarea {
    font-family: inherit;
    line-height: 30px;
    font-size: 1rem;
    border-radius: 7px;
    background-color: inherit;
    border-color:rgba(0,0,0,0);
    border-width: 1px;
}

textarea {
    height: 5rem;
}

select {
    height: 35px;
}

input {
    width: 90%;
}

button:focus, input:focus, select:focus, textarea:focus {
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dash-container {
    display: flex;
    margin-top: 20px;
    width: fit-content;
}

.dash-container h1 {
    color: rgb(50, 50, 50);
    margin: 0px;
}

.dash-links-container {
    display: flex;
}

.dash-links-col1,
.dash-links-col2,
.dash-links-col3 {
    display: flex;
    flex-direction: column;
}

.dash-item, .dash-link {
    display: flex;
    padding: 30px;
    margin-right: 40px;
    margin-bottom: 40px;
    height: fit-content;
    box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
}

.dash-link {
    padding: 20px;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

#dash-item-todoist {
    flex-direction: column;
}

#dash-link-todoist {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo-link {
    width: 40px;
    margin-right: 10px;
}

#bankaus-logo {
    width: auto;
    height: 40px;
}

.todoist-tasks {
    list-style: initial;
    padding-inline-start: 1em;
    margin-bottom: 20px;
}

.todoist-task-block {
    margin-bottom: 20px;
}

.todoist-tasks p {
    color: rgb(50, 50, 50);
    line-height: 1rem;
}

footer {
    margin-top: auto;
    margin-left: 200px;
    display: flex;
    height: 200px;
    flex-direction: column;
    width: 80%;
    align-items: center;
    text-align: center;
}

.footer-btn {
    width: 150px;
    line-height: 2rem;
    text-align: center;
    /* text-decoration: none; */
}

@media only screen and (max-width: 1200px) {
    #width-too-narrow {
        display: none;
    }

    nav {
        flex-direction: row;
        align-items: center;
        height: 132px;
        width: 100vw;
        position: -webkit-sticky;
        position: fixed;
        z-index: 999;
        top: 0;
        background-color: #f1f1f1;
        box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.1);
    }

    .app-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        height: 132px;
        padding-left: 10px;
    }

    .app-title a {
        line-height: 18px;
    }
    
    #main-logo {
        width: 108px;
        margin-top: 0px;
        margin-bottom: 0;
    }
    
    #name {
        margin-bottom: 0;
        margin-top: 0;
        font-size: 1.3rem;
    }

    .nav-list {
        flex-direction: row;
        align-items: center;
        margin: 10px;
    }

    .login-info-container {
        position: absolute;
        right: 0px;
        top: 22px;
        margin: 10px;
    }

    .login-info-container p {
        font-size: 0.7rem;
    }

    .content-block {
        padding: 20px 40px;
        margin-left: 0;
        margin-top: 132px;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-list li {
        margin: 8px;
        padding: 10px;
    }

    footer {
        margin-top: auto;
        margin-left: 0px;
        display: flex;
        height: 200px;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        text-align: center;
    }
  }