<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>LSC Fazenda</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div id="nav-container">
                <div id="logo-and-name">
                    <a href="{% url 'home' %}"><img id="header-logo" src="{% static 'img/lsc-logo-light.png' %}" alt="Luckie Street Coffee Logo"></a>
                    <p><h1>Fazenda</h1></p>
                </div>
                <div id="nav-items">
                    <a class="nav-btn" href="{% url 'bean-information' %}">View Beans</a>
                    <a class="nav-btn" href="{% url 'stock-management' %}">Manage Stock</a>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}{% endblock content %}

    <footer>
        <div id="footer-block">
            <div id="footer-container">
                <a class="footer-btn" href="http://www.luckiestreetcoffee.com">LSC Website</a>
                <p>Benjamin Buckmaster 2024</p>
            </div>
        </div>
    </footer>
</body>
</html>


