<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <title>LSC Fazenda</title>
</head>
<body>
    <div id="width-too-narrow">
        <div class="middle-of-screen">
            {% comment %} <img id="header-logo" src="{% static 'img/lsc-logo-light.png' %}" alt="Luckie Street Coffee Logo"> {% endcomment %}
            <h1>I need some space here</h1>
            <p>This app is not designed for mobile yet.</p>
        </div>
    </div>
    <header>
        <nav>
            <div class="app-title">
                <a href="{% url 'home' %}"><img id="main-logo" src="{% static 'img/lsc-logo-dark.png' %}" alt="Luckie Street Coffee Logo"></a>
                <a href="{% url 'home' %}"><h1 id="name">Fazenda</h1></a>
            </div>
            {% if user.is_authenticated %}
            <ul class="nav-list">
                <li><a href="{% url 'bean-information' %}">Manage Beans</a></li>
                <li><a href="{% url 'stock-management' %}">Manage Stock</a></li>
            </ul>
            <div class="login-info-container">
                <p>Logged in as {{ user.username }}</p>
                <a id="logout-btn" href="{% url 'logout' %}">Logout</a>
            </div>
            {% endif %}
        </nav>
    </header>
    
    <div class="page-body">
        <div class="content-block">
            {% if messages %}
                <ul class="messages-error">
                    {% for message in messages %}
                        {% if message.tags %}
                        <li class="message-{{ message.tags }}">{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content %}{% endblock content %}
        </div>
    
        <footer>
            <ul>
                <li><a class="footer-btn" href="http://www.luckiestreetcoffee.com" target="_blank">www.luckiestreetcoffee.com.au</a></li>
                <li>Benjamin Buckmaster 2024</li>
            </ul>
        </footer>
    </div>
</body>
</html>


