{% extends "base.html" %}

{% block content %}
<div class="content-block">
    <h2>Bean Information</h2>
    {% if beans %}
    <div class="table-container">
        <table>
            <tr>
                <th>Name</th>
                <th>Origin</th>
                <th>Supplier</th>
                <th>Notes</th>
                <th>Reorder Trigger</th>
                <th>Reorder Quantity</th>
            </tr>
            {% for bean in beans %}
            <tr>
                <td>{{ bean.name }}</td>
                <td>{{ bean.origin }}</td>
                <td>{{ bean.supplier }}</td>
                <td>{{ bean.notes }}</td>
                <td>{{ bean.reorder_trigger }} kg</td>
                <td>{{ bean.reorder_qty }} kg</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>
{% endblock content %}