{% extends "base.html" %}

{% block content %}
<h1>{{ bean.origin }} {{ bean.name }}</h1>
<div class="body-btn-container">
    <a class="btn2" href="{% url "stock-entries-detail" bean.id %}">Stock Entries</a>
    <a class="btn2" href="{% url "stock-adjustments-detail" pk=bean.id %}">Stock Adjustments</a>
</div>
<form method="POST" action="">
    {% csrf_token %}
    <div class="form-container">
        <table>
            <th>Origin</th>
            <tr>
                <td>{{ form.origin }}</td>
            </tr>
            <th>Name</th>
            <tr>
                <td>{{ form.name }}</td>
            </tr>
            <th>Supplier</th>
            <tr>
                <td>{{ form.supplier }}</td>
            </tr>
            <th>Cost per kg</th>
            <tr>
                <td>{{ form.cost }}</td>
            </tr>
            <th>Reorder Trigger</th>
            <tr>
                <td>{{ form.reorder_trigger }} kg</td>
            </tr>
            <th>Reorder Quantity</th>
            <tr>
                <td>{{ form.reorder_qty }} kg</td>
            </tr>
            <th>Notes</th>
            <tr>
                <td>{{ form.notes }}</td>
            </tr>
            <tr>
                <td class="bold-text">Ordered</td>
                <td>{{ form.is_ordered }}</td>
            </tr>
        </table>
        <div class="form-btn-container">
            <button class="form-btn" id="form-save-btn" name="save">Save Changes</button>
        </div>
    </div>
</form>

{% endblock content %}