{% extends "base.html" %}

{% block content %}
<div class="content-block">
    <h2>Bean Information</h2>
    {% if beans %}
    <div class="table-container">
        <div class="table-header">
            <h4>Name</h4>
            <h4>Origin</h4>
            <h4>Supplier</h4>
            <h4>Notes</h4>
            <h4>Reorder Trigger</h4>
            <h4>Reorder Quantity</h4>
        </div>
        {% for bean in beans %}
        <div class="table-row">
            <p>{{ bean.name }}</p>
            <p>{{ bean.origin }}</p>
            <p>{{ bean.supplier }}</p>
            <p>{{ bean.notes }}</p>
            <p>{{ bean.reorder_trigger }}</p>
            <p>{{ bean.reorder_qty }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}