{% extends "base.html" %}

{% block content %}
<h2>Edit Adjustment</h2>
<div class="page-info">
</div>
<form method="POST" action="">
    {% csrf_token %}
    <div class="form-container">
        <table>
            <tr>
                <th>Date</th>
                <th>Bean</th>
                <th>Adjustment Amount</th>
            </tr>
            <tr>
                <td>{{adjustment.date}}</td>
                <td>{{form.bean}}</td>
                <td>{{form.adj_amount}}</td>
            </tr>
        </table>
        <div class="form-btn-container">
            <button class="form-btn" id="form-save-btn" name="save">Save</button>
            <button class="form-btn" id="form-cancel-btn" name="cancel">Cancel</button>
        </div>
    </div>
</form>
{% endblock content %}