{% extends "base.html" %}

{% block content %}
<h1>Edit Entry</h1>
<div class="page-info">
</div>
<div class="edit-stock-entry-body">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-container">
            <table>
                <th>Date</th>
                <tr><td>{{entry.date}}</td></tr>
                <th>Bean</th>
                <tr><td>{{form.bean}}</td></tr>
                <th>Quantity Used (kg)</th>
                <tr><td>{{form.qty_used}}</td></tr>
                <th>Quantity Added (kg)</th>
                <tr><td>{{form.qty_added}}</td></tr>
            </table>
            <div class="form-btn-container">
                <button class="form-btn" id="form-save-btn" name="save">Save Changes</button>
            </div>
        </div>
    </form>
    <div class="body-btn-container">
        <a class="body-btn" href="{% url "bean-information" %}">Back</a>
    </div>
</div>
{% endblock content %}