{% extends "base.html" %}

{% block content %}
<h2>Edit Bean Details</h2>
<form method="POST" action="">
    {% csrf_token %}
    <div class="form-container">
        <table>
            <tr>
                <th>Name</th>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <th>Origin</th>
                <td>{{ form.origin }}</td>
            </tr>
            <tr>
                <th>Supplier</th>
                <td>{{ form.supplier }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ form.notes }}</td>
            </tr>
            <tr>
                <th>Reorder Trigger</th>
                <td>{{ form.reorder_trigger }} kg</td>
            </tr>
            <tr>
                <th>Reorder Quantity</th>
                <td>{{ form.reorder_qty }} kg</td>
            </tr>
        </table>
    </div>
    <div class="form-btn-container">
        <button class="form-btn" id="form-save-btn" name="save">Save</button>
        <button class="form-btn" id="form-cancel-btn" name="cancel">Cancel</button>
    </div>
</form>
{% endblock content %}