{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="welcome">
    <h2>Hello {{ user.username }}</h2>
</div>
<div class="dashboard-container">
    <div class="dashitem1">
        <h1>Due Today</h1>
        <ul class="todoist-tasks">
            {% for task in todoist_today %}
            <li><a href="{{ task.url }}" target="_blank">{{ task.content }}</a></li>
            {% endfor %}
        </ul>
        {% if todoist_overdue %}
        <h1>Overdue</h1>
        <ul class="todoist-tasks">
            {% for task in todoist_overdue %}
            <li><a href="{{ task.url }}" target="_blank">{{ task.content }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        <a href="https://app.todoist.com/" target="_blank" class="body-btn" id="todoist-link">View on Todoist</a>
    </div>
</div>


{% else %}
<div class="page-info">
    <p>Please log in to access Fazenda.</p>
</div>
<div>
    <h2>Login</h2>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <div>
            <input type="text" name="username" placeholder="Username" required>
        </div>
        <div class="mb-3">
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit">Login</button>
    </form>
</div>
{% endif %}
{% endblock content %}