{% extends "base.html" %}

{% block content %}
<h2>New Stock Adjustment</h2>
<div class="page-info">
    <p>Note: you can only enter one adjustment per day.</p>
</div>
<form method="POST" action="">
    {% csrf_token %}
    <div class="form-container">
        <table>
            <tr>
                <th>Bean</th>
                <th>Adjustment Amount (kg)</th>
            </tr>
            <tr>
                <td>{{form.bean}}</td>
                <td>{{form.adj_amount}}</td>
            </tr>
        </table>
    </div>
    <div class="form-btn-container">
        <button class="form-btn" id="form-save-btn" name="save">Save</button>
        <button class="form-btn" id="form-cancel-btn" name="cancel">Cancel</button>
    </div>
</form>
{% endblock content %}