{% extends "base.html" %}

{% block content %}
<h1>Product Pricing</h1>

<div class="table-container">
    <table id="product-pricing-table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Size</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product, total_price in product_costs.items %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.size }}</td>
                <td>${{ total_price|floatformat:2 }}</td> <!-- Format total price as a float with 2 decimal places -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}