{% extends "base.html" %}

{% block content %}
<div class="page-title"><h1>Stock Adjustments for {{ bean.name }}</h1></div>
<div class="body-btn-container">
    <a class="btn2" id="new-adjustment-btn" href="{% url "new-stock-adjustment" %}">New Adjustment</a>
</div>

{% if adjustments %}
<div class="stock-entries">
    {% for adjustment in adjustments %}
    <div class="stock-entry">
        <h3>{{adjustment.date}}</h3>
        <div class="stock-adjustment-qty">
            <p class="bold-text">Adjustment</p>
            <p>{{adjustment.adj_amount}} kg</p>
        </div>
        <a class="btn1" id="edit-stock-entry-btn" href="{% url "edit-stock-adjustment" id=adjustment.id %}">Edit</a>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="page-info">
    <p>No entries!</p>
</div>
{% endif %}

{% endblock content %}