{% extends "base.html" %}

{% block content %}
<h2>Stock Management</h2>
<div class="page-info">
    <p>Here you can add stock entries and manage stock offsets.</p>
</div>
<div class="table-container">
    <table>
        <tr>
            <th>Bean Name</th>
            <th>Total Quantity</th>
        </tr>
        {% for stock_total in stock_totals %}
        <tr>
            <td>{{stock_total.bean.name}}</td>
            <td>{{stock_total.total_quantity}} kg</td>
            <td>
                {% if stock_total.bean.id %}
                    <a class="table-btn" href="{% url "stock-entry-detail" pk=stock_total.bean.id %}">New Entry</a></td>
                {% else %}
                    <a class="table-btn" href="{% url "stock-entry" %}">New Entry</a></td>
                {% endif %}
            <td><a class="table-btn" href="{% url "stock-offset" stock_total.bean.id %}">Manage Offset</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}