{% extends "base.html" %}

{% block content %}
<h1>Stock Entries</h1>
{% if entries %}
<div class="table-container">
    <table>
        <tr>
            <th>Date</th>
            <th>Bean</th>
            <th>Quantity Added (kg)</th>
            <th>Quantity Used (kg)</th>
            <th></th>
        </tr>
        {% for entry in entries %}
            <tr>
                <td>{{entry.date}}</td>
                <td>{{entry.bean}}</td>
                <td>{{entry.qty_added}}</td>
                <td>{{entry.qty_used}}</td>
                <td><a class="table-btn" href="{% url "edit-stock-entry" id=entry.id %}">Edit</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<div class="page-info">
    <p>No entries!</p>
</div>
{% endif %}
<div class="form-btn-container">
    <a class="form-btn" href="{% url "bean-information" %}">Back</a>
</div>
{% endblock content %}